*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// /* custom variables */
:root{
  --backgroundColor: #f8f5f2;
  --textColor: #222525;
  --buttonColor:#078080;
  --main:#fffffe;
  --secondary:#f45d48;
}